container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #0b69ff;
}
button {
  background-color: #0b69ff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.card {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  color: #0b69ff;
  font-size: 46px;
  font-weight: 700;
}
